@font-face{
    font-family: Alongsans;
    src: url(../Fontes/Along\ Sans\ Thin.ttf) format('truetype');
}

@font-face {
    font-family: AlongsansM;
    src: url(../Fontes/Along\ Sans\ Light.ttf) format('truetype');
}

@font-face {
    font-family: AlongsansG;
    src: url(../Fontes/Alongsans\ Medium.ttf) format('truetype');
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: block;
    margin: 0;
    font-family: Alongsans;
 
}

/*Links do header*/

a{
    text-decoration: none;
}


/*Espaço do header*/
header{
    z-index: 700;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 900;
}

.active{
    z-index: 700;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 900;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
}

/*3 partes do header centralizadas e em linhas*/
header #divLinksHeader, #divLinkDireita,#divLogoEMenu{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
}

/*Logo da pagina na esquerda*/
header #logoBHUB{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    width: 140px;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*Partes do meio do header*/
header .link-header{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

/*Imagens da parte direita do header*/
header #divLinksDireita img{
    height: 50px;
    margin-right: 40px;
}

/*Header acaba aqui*/

/*Começa o body do site*/
.Letreiro{
    background-color: black;
    padding-top: 10px;
    height: 1000px;
    width: 100%;
}

.Letreiro h1{
    color: white;
    margin-top: 300px;
    margin-left: 35%;
    font-size: 7rem;
}

.solucoes{
    height: 450px;
    
}

.solucoes h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.linha1{
    display: flex;
    background-color: #f9bc14;
    height: 550px;
}

.linha2{
    display: flex;
    background-color: #f9bc14;
    height: 700px;
}

.titulo{
    font-size: 5rem;
    position: absolute;
    margin-left: 700px;
    font-family: AlongsansM;
}

.titulo2{
    font-size: 5rem;
    position: absolute;
    margin-left: 700px;
    font-family: AlongsansM;
    color: #fef0cd;
    margin-top: 18px;
}

.titulo3{
    font-size: 5rem;
    position: absolute;
    margin-left: 800px;
    font-family: AlongsansM;
    color: #6c6c6c;
    margin-top: 18px;
}



.subtitulo{
    font-size: 4rem;
    position: absolute;
    margin-top: 200px;
    margin-left: 700px;
    font-family: AlongsansG;
}

.texto1{
    display: flex;
    width: 1000px;
    margin-left: 700px;
    margin-top: 300px;
    position: absolute;
}

.texto1 h1{
    font-size: 2.2rem;
    color: #201b39;
    margin-top: 30px;
}

.texto1 h3{
    font-size: 2rem;
    font-weight: bolder;
    color: #201b39;
}


.bhub{
    display: flex;
}

.IMGBHUB{
    display: block;
    height: 400px;
    width: 400px;
    margin-top: 215px;
    margin-left: 200px;
}

span:before {
    content: "hub";
    color: white;
    animation: BHUB 10s infinite backwards;
}

/*Inicio do quem somos*/
.quemsomos{
    background-color: #e53d3d;
    height: 2300px;
    margin-top: -22px;
}

.alinhar{
    display: flex;
    justify-content: center;

}

.integrantes{
    margin-top: 200px;
    width: 300px;
    height: 300px; 
    background-size: 300px 300px;
    background-repeat: no-repeat; 
    transition: background-image 1s;
}

.integrantes h1{
    text-align: center;
    color: #fef0cd;
    margin-top: 320px;
    font-size: 1.5rem;
}

.integrantes p{
    text-align: center;
    color: #fef0cd;
    font-size: 20px;
    margin-top: -10px;
}

.info{
        display: flex;
        flex-direction: column;
        margin-top: -390px;
        margin-left: 10px;
    }

.info img{
        height: 40px;
        width: 40px;
}


.info3{
    display: flex;
    flex-direction: column;
    margin-top: -415px;
    margin-left: 10px;
}

.info3 img{
    height: 40px;
    width: 40px;
}


/* Imagens dos integrantes da BHUB*/
    #beta{
        background-image: url(../IMGS/beta_pb.jpg);
        margin-right: 50px ;
    }

    #beta:hover{
    background-image: url(../IMGS/beta_color.jpg);
    z-index: 2;
    }

    #deborah{
        background-image: url(../IMGS/deborah_pb.jpg);
    }

    #deborah:hover{
    background-image: url(../IMGS/deborah_color.jpg);
    z-index: 2;
    }



    #heruza{
        background-image: url(../IMGS/heruza_pb.jpg);
    }

    #heruza:hover{
    background-image: url(../IMGS/heruza_color.jpg);
    z-index: 2;
    }

    #adriana{
        background-image: url(../IMGS/adriana_pb.jpg);
        margin-left: 50px;
    }

    #adriana:hover{
    background-image: url(../IMGS/adriana_color.jpg);
    z-index: 2;
    }

    #jade{
        background-image: url(../IMGS/jade_pb.jpg);
        margin-left: 50px;
    }

    #jade:hover{
    background-image: url(../IMGS/jade_color.jpg);
    z-index: 2;
    }

    #rafael{
        background-image: url(../IMGS/rafael_pb.jpg);
        margin-left: 50px;
    }

    #rafael:hover{
    background-image: url(../IMGS/rafael_color.jpg);
    z-index: 2;
    }




    #diego{
        background-image: url(../IMGS/diego_pb.jpg);
    }

    #diego:hover{
    background-image: url(../IMGS/diego_color.jpg);
    z-index: 2;
    }

    #camila{
        background-image: url(../IMGS/camila_pb.jpg);
        margin-left: 50px;
    }

    #camila:hover{
    background-image: url(../IMGS/camila_color.jpg);
    z-index: 2;
    }

    #mahmed{
        background-image: url(../IMGS/mamede_pb.jpg);
        margin-left: 50px;
    }

    #mahmed:hover{
    background-image: url(../IMGS/mamede_color.jpg);
    z-index: 2;
    }

    #miguel{
        background-image: url(../IMGS/miguel_pb.jpg);
        margin-left: 50px;
    }

    #miguel:hover{
    background-image: url(../IMGS/miguel_color.jpg);
    z-index: 2;
    }





    #sandra{
        background-image: url(../IMGS/sandra_pb.jpg);
    }

    #sandra:hover{
    background-image: url(../IMGS/sandra_color.jpg);
    z-index: 2;
    }

    #nayara{
        background-image: url(../IMGS/nayara_pb.jpg);
        margin-left: 50px;
    }

    #nayara:hover{
    background-image: url(../IMGS/nayara_color.jpg);
    z-index: 2;
    }

    #nathalia{
        background-image: url(../IMGS/nathalia_pb.jpg);
        margin-left: 50px;
    }

    #nathalia:hover{
    background-image: url(../IMGS/nathalia_color.jpg);
    z-index: 2;
    }
/* Fim das imagens dos integrantes da BHUB*/

/* Inicio dos clientes da BHUB*/
.Clientes{
    background-color: white;
    height: 850px;
    display: block;
}

.linha_Clientes{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 200px;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
}


.linha_Clientes img{
    height: 160.8px;
    width: 286.116px;
}



.linha_Clientes2{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 360px;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
}


.linha_Clientes2 img{
    height: 160.8px;
    width: 286.116px;
}

.linha_Clientes3{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 520px;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
}


.linha_Clientes3 img{
    height: 160.8px;
    width: 286.116px;
}

.linha_Clientes4{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 680px;
    justify-content: space-between;
    align-items: center;
    margin-left: 260px;
}


.linha_Clientes4 img{
    height: 160.8px;
    width: 286.116px;
}
/* Fim dos clientes da BHUB*/

/* Começo contato*/
.contato{
    height: 1000px;
    width: auto;
    background-color: #2a2a28;
}



.titulo4{
    color: #fef0cd;
    font-size: 5rem;
    position: absolute;
    margin-left: 800px;
    font-family: AlongsansM;
    margin-top: 18px;
}

.linha_contato{
    display: flex;
    flex-direction: row;
}

.endereco{
    position: absolute;
    color: #fef0cd;
    margin-top: 220px;
    margin-left: 275px;
    font-size: 1.6rem;
}

.linha_contato iframe{
    margin-top: 280px;
    justify-self: left;
    margin-left: 250px;
}

.linha_contato h2{
    color: #fef0cd;
    font-size: 1.8rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.contato input{
    width: 700px;
    height: 50px;
    margin-left: 100px;
}

.inputs h2{
    margin-left: 100px;
}

.titulo_input{
    margin-top: 50px;
}

#mensagem{
    height: 250px;
}

.inputs button{
    width: 300px;
    margin-left: 320px;
    height: 50px;
    background-color: #2a2a28;
    border-color: #fef0cd;
    border-radius: 10px;
    margin-top: 30px;
    color: #fef0cd;
    font-size: 35px;
    cursor: pointer;
}

.inputs button p{
    margin-top: 0px;
    font-family: AlongsansG;

}

/* Fim contato*/


@keyframes BHUB{
      0%{}
      
      20% {
        content: 'content';      }
      
      40% {
        content: 'booth';
      }
      
      60% {
        content: 'podcast';      }

       80%{
        content: 'chroma';
       } 
       100%{
        content: 'hub';
       }
}

nav{
    display: none; /*Tirar o display do celular no pc*/
}



/*Inicio da versão para celular*/
@media (max-width: 1200px){

    nav{
        z-index: 900;
        display: none;
        flex-direction: column;

        position: fixed;
        padding: 5px;
        width: 370px;
        height: 100%;

        background-color: #424242;
        box-shadow: -5px 0px 60px black;
        transition: ease-in-out 0.2s;

        text-transform: uppercase;

        background-image: url('../img_forms/geometric-gray-shapes.png');
        background-size: 250%;
        background-position: -10px 100px;
        background-repeat: no-repeat;
        background-blend-mode: color-burn;

        animation-name: transicao-suave;
        animation-timing-function: ease-in-out;
        animation-duration: 0.3s;
    }

    nav div{
        display: flex;
    }

    nav #divNavLinks{
        flex-direction: column;

        margin-top: 30px;
    }

    #divBtnVoltarHome{
        display: none;
    }

    nav #divNavLinks a, nav div a{
        flex-direction: column;

        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 4px;
        margin-bottom: 4px;

        color: white;

        font-size: 20px;
        text-decoration: none;
        font-family: Poppins;
        font-weight: 900;

        transition: 0.2s;
    }

    nav #divNavLinks a:hover{
        background-color: rgb(0, 0, 0);
        color: black;
    }


    

    nav #imgLogoNav{
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        width: 200px;
        height: 50px;
    }

    nav #btnFecharMenu{
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        cursor: pointer;

        position: relative;
        left: 125px;

        padding: 8px 14px 6px 14px;
        
        color: white;
        border: 1.5px solid white;
        border-radius: 6px;

        font-weight: 900;
        font-size: 25px;

        transition: 0.2s;
    }

    nav #btnFecharMenu:hover{
        background-color: #000000;
        color: #424242;
    }

    /**/

    header{
        position: unset;
        top: 0px;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    
        font-family: Poppins;
        text-transform: uppercase;
        font-weight: 900;
    
        transition: 0.5s ease-in-out;
    }

    header .link-header{
        display: none;
    }

    header #linkLogin, #linkCadastro{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    
        color: black;
        text-decoration: none;
        font-size: 15px;
    
        transition: 0.2s;
    }

    header #imgLogoNav{
        display: none;
    }

    header #imgLogoNav-mq{
        display: block;

        width: 35px;
        height: 35px;
        margin-left: 16px;
    }
    
    header #btnMenuHamburguer{
        -webkit-user-select: none;
        -webkit-user-drag: none;
        user-select: none;
        cursor: pointer;
        display: block;
    
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 6px;
    
        transition: ease-in-out 0.9s;
    }


}

@media (max-height: 800px){
    
    .Letreiro{
        background-color: black;
        padding-top: 10px;
        height: 1000px;
        width: 100%;
    }
    
    .Letreiro h1{
        color: white;
        margin-top: 250px;
        margin-left: 35%;
        font-size: 7rem;
    }
    
    .solucoes{
        height: 450px;
        
    }
    
    .solucoes h3{
        font-size: 20px;
        color: rgb(0, 0, 0);
    }

    
    .titulo{
        font-size: 4.2rem;
        position: absolute;
        margin-left: 550px;
        font-family: AlongsansM;
    }
    
    .titulo2{
        font-size: 4.2rem;
        position: absolute;
        margin-left: 550px;
        font-family: AlongsansM;
        color: #fef0cd;
    }

    .titulo3{
        font-size: 5rem;
        position: absolute;
        margin-left: 600px;
        font-family: AlongsansM;
        color: #6c6c6c;
        margin-top: 18px;
    }

    .titulo4{
        color: #fef0cd;
        font-size: 5rem;
        position: absolute;
        margin-left: 600px;
        font-family: AlongsansM;
        margin-top: 18px;
    }

    .subtitulo{
        font-size: 3.5rem;
        position: absolute;
        margin-top: 210px;
        margin-left: 550px;
        font-family: AlongsansG;
    }
    
    .texto1{
        display: flex;
        width: 800px;
        margin-left: 550px;
        margin-top: 250px;
        position: absolute;
    }
    
    .texto1 h3{
        font-size: 1.7rem;
        font-weight: bolder;
        color: #201b39;
    }


    .IMGBHUB{
        display: block;
        height: 400px;
        width: 400px;
        margin-top: 215px;
        margin-left: 100px;
    }

    header #logoBHUB{
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        width: 100px;
        margin-left: 40px;
        margin-top: 15px;
        margin-bottom: 8px;
    }

    header #divLinksDireita img{
        height: 40px;
        margin-right: 40px;
        margin-top: 10px;
    }


    .linha_Clientes{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 200px;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
    }

    .linha_Clientes img{
        height: 134px;
        width: 238.43px;
    }

    .linha_Clientes2{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 330px;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
    }

    .linha_Clientes2 img{
        height: 134px;
        width: 238.43px;
    }

    .linha_Clientes3{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 460px;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
    }

    .linha_Clientes3 img{
        height: 134px;
        width: 238.43px;
    }

    .linha_Clientes4{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 590px;
        justify-content: space-between;
        align-items: center;
        margin-left: 180px;
    }

    .linha_Clientes4 img{
        height: 134px;
        width: 238.43px;
    }



.linha_contato{
    display: flex;
    flex-direction: row;
}

.endereco{
    position: absolute;
    color: #fef0cd;
    margin-top: 220px;
    margin-left: 120px;
    font-size: 1.5rem;
}

.linha_contato iframe{
    margin-top: 280px;
    justify-self: left;
    margin-left: 80px;
}

.linha_contato h2{
    color: #fef0cd;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.contato input{
    width: 700px;
    height: 50px;
    margin-left: 100px;
}

.inputs h2{
    margin-left: 100px;
}

.titulo_input{
    margin-top: 50px;
}

#mensagem{
    height: 250px;
}
}