@font-face{
    font-family: Alongsans;
    src: url(../Fontes/Along\ Sans\ Thin.ttf) format('truetype');
}



body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: block;
    margin: 0;
    font-family: Alongsans;
}

/*Links do header*/

a{
    text-decoration: none;
}


/*Espaço do header*/
header{
    z-index: 700;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}

/*3 partes do header centralizadas e em linhas*/
header #divLinksHeader, #divLinkDireita,#divLogoEMenu{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
}

/*Logo da pagina na esquerda*/
header #logoBHUB{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    width: 140px;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*Partes do meio do header*/
header .link-header{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

/*Imagens da parte direita do header*/
header #divLinksDireita img{
    height: 50px;
    margin-right: 40px;
}

/*Header acaba aqui*/

/*Começa o body do site*/
.Letreiro{
    background-color: black;
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.Letreiro h1{
    color: white;
    margin-left: 35%;
    font-size: 7rem;
}

.solucoes{
    height: 450px;
    
}

.solucoes h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.linha1{
    display: flex;
    background-color: #f9bc14;
}

.texto1{
    display: flex;
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
}

.texto1 h1{
    font-weight: bolder;
}

.texto1 h3{
    font-size: 25px;
    font-weight: bolder;

}

#Circulo{
    background: orangered;
    border-radius: 50%;
    width: 100px;
    height: 17px;
    margin-top: 30px;
    margin-right: 20px;
}

.texto2 {
    display: flex;
    width: 500px;
    margin-left: 500px;
    margin-top: 50px;
}

.texto2 h1{
    font-weight: bolder;
}

.texto2 h3{
    font-size: 25px;
    font-weight: bolder;

}


.solucoes img{
    width: 250px;
    margin-left: 47%;
}

span:before {
    content: "HUB";
    color: white;
    animation: BHUB 10s infinite;
}

@keyframes BHUB{
    0% {
        content: 'hub';
      }
      
      25% {
        content: 'content';      }
      
      50% {
        content: 'booth';
      }
      
      75% {
        content: 'podcast';      }

       100%{
        content: 'chroma';
       } 
}

@media (min-width: 1200px){

    nav{
        display: none;
    }
}
/*Inicio da versão para celular*/
@media (max-width: 1200px){

    nav{
        z-index: 900;

        display: none;
        flex-direction: column;

        position: fixed;
        padding: 5px;
        width: 370px;
        height: 100%;

        background-color: #424242;
        box-shadow: -5px 0px 60px black;
        transition: ease-in-out 0.2s;

        text-transform: uppercase;

        background-image: url('../img_forms/geometric-gray-shapes.png');
        background-size: 250%;
        background-position: -10px 100px;
        background-repeat: no-repeat;
        background-blend-mode: color-burn;

        animation-name: transicao-suave;
        animation-timing-function: ease-in-out;
        animation-duration: 0.3s;
    }

    nav div{
        display: flex;
    }

    nav #divNavLinks{
        flex-direction: column;

        margin-top: 30px;
    }

    #divBtnVoltarHome{
        display: none;
    }

    nav #divNavLinks a, nav div a{
        flex-direction: column;

        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 4px;
        margin-bottom: 4px;

        color: white;

        font-size: 20px;
        text-decoration: none;
        font-family: Poppins;
        font-weight: 900;

        transition: 0.2s;
    }

    nav #divNavLinks a:hover{
        background-color: rgb(0, 0, 0);
        color: black;
    }


    

    nav #imgLogoNav{
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        width: 200px;
        height: 50px;
    }

    nav #btnFecharMenu{
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        cursor: pointer;

        position: relative;
        left: 125px;

        padding: 8px 14px 6px 14px;
        
        color: white;
        border: 1.5px solid white;
        border-radius: 6px;

        font-weight: 900;
        font-size: 25px;

        transition: 0.2s;
    }

    nav #btnFecharMenu:hover{
        background-color: #000000;
        color: #424242;
    }

    /**/

    header{
        position: unset;
        top: 0px;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    
        font-family: Poppins;
        text-transform: uppercase;
        font-weight: 900;
    
        transition: 0.5s ease-in-out;
    }

    header .link-header{
        display: none;
    }

    header #linkLogin, #linkCadastro{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    
        color: black;
        text-decoration: none;
        font-size: 15px;
    
        transition: 0.2s;
    }

    header #imgLogoNav{
        display: none;
    }

    header #imgLogoNav-mq{
        display: block;

        width: 35px;
        height: 35px;
        margin-left: 16px;
    }
    
    header #btnMenuHamburguer{
        -webkit-user-select: none;
        -webkit-user-drag: none;
        user-select: none;
        cursor: pointer;
        display: block;
    
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 6px;
    
        transition: ease-in-out 0.9s;
    }


}

@keyframes transicao-suave{
    0%{
        opacity: -100%;
    }

    20%{
        opacity: -80%;
    }

    30%{
        opacity: -60%;
    }

    40%{
        opacity: -40%;
    }

    20%{
        opacity: -20%;
    }

    0%{
        opacity: 0%;
    }
}